.read-post{
    justify-items: center;
    gap: 1rem;
    width: 100%;
    overflow: scroll;
}

.read-post::-webkit-scrollbar{
    display: none;
}

.posts{
    display: grid;
    grid-template-columns: 10rem 30rem 5rem;
    gap: 2rem;
    align-items: center;
    justify-items: center;
    border: 2px solid black;
}

.delete{
    justify-self: center;
    align-self: center;
}

.post-container{
    display: grid;
    grid-template-columns: 1fr 10fr;
    margin-top: 1rem;
}

.tabs{
    background-color: rgb(54, 137, 201);
    width: 100%;
}

.post-layout{
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    justify-content: center;
    align-content: center;
}

.read-background{
    background-color: #D9D9D9;
    min-height: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    display: grid;
    grid-template-rows: 9fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.read-container{
    justify-items: center;
    display: grid;
    position: relative;
}

.read-book{
    border: 1px solid black;
    width: 100vw;
    max-width: 50%;
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 1.2fr 6fr;
    gap: 0rem;
    align-self: start;
    position: relative;
    top: 1.5rem;
    z-index: 4;
}
                                    
.read-binder{
    background-color: rgb(54, 137, 201);
    height: 80vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
                                    

.read-page{
    background-color: #ffffff;
    display: flex;
    height: 80vh;
}

