.read-post{
    justify-items: center;
    gap: 1rem;
    width: 100%;
}

.posts{
    display: grid;
    grid-template-columns: 10rem 30rem 5rem;
    gap: 2rem;
    align-items: center;
    justify-items: center;
}

.delete{
    justify-self: center;
    align-self: center;
}